# Node modules
node_modules/

# Build outputs
dist/
build/
.next/
.expo/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
